@import '../../styles/global.scss';

.order-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $background_2;
}

.order-total {
    font-size: 2.5rem; 
    margin-top: 2rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.order-button-container {
    display: flex;
    width: 100%;
    height: 4rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
    justify-content: center;
}

.order-button {
    height: 100%; 
    background-color: $ok-button-color;
    color: white; 
    width: 30%; 
    font-size: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: $shadow;
}

.order-button.disabled {
    background-color: rgba($ok-button-color, 0.7);
    box-shadow: none;
}