@import '../../styles/global.scss';
@import '../../styles/animations.scss';

.categoryCard {
    margin: 1rem auto;
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: $shadow;
    
    img {
        width: inherit;
        height: inherit;
        margin: auto; 
        object-fit: cover; 
        position: absolute; 
        z-index: -1;
        filter:brightness(0.7);
    }
    
    p {
        font-size: 3rem;
        color: white;
    }
}