@import '../../styles/global.scss';

.Modal {
    position: fixed;
    width: 90vw; 
    height: 40vh;
    top: 30vh; 
    left: 5vw;
    margin: auto;
    box-shadow: $shadow;
  
    @include display-column;
    align-items: center;
}

.Modal.main-color {
    background-color: $secondary-color;
}

.Modal.black-transparent {
    background-color: rgba(0, 0, 0, .5);
}